.header {
	height: 56px;
	padding: 0;
	background: #dd6;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	line-height: 56px;
	font-weight: 400;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	line-height: 56px;
	padding: 0 15px;
}

.header nav a:hover, .header nav a:active {
	background: rgba(0,0,0,0.05);
}

.header nav a.active {
	background: rgba(0,0,0,0.1);
}
