name: Deploy
on:
  push:
    branches: [master]
permissions:
  contents: write
jobs:
  deploy:
    concurrency: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npx preact build --no-prerender
      - uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: build
